#hn {
  font-weight: bolder;
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}
#xx {
  color: #fff;
  font-weight: bolder;
  font-style: oblique;
  font-size: xx-large;
}
#com {
  margin-top: 10%;
  margin-left: 10%;
}
img {
  margin-left: 50%;
  height: 40%;
  margin-top: -10%;
  border-radius: 10px;
}
h6 {
  color: white;
  font-family: "Edu VIC WA NT Beginner", cursive;

  font-family: "Russo One", sans-serif;
  font-size: 20px;
  margin-left: 10%;
}
.subscribe {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 5px 5px 10px;
  margin-left: 60%;
}

.subscribe .email {
  color: #000;
  font-size: 20px;
}

.subscribe .call-action {
  background: #000;
  padding: 0 22px;
  color: #fff;
  border-radius: 20px;
}

.subscribe .call-action p {
  font-size: 16px;
}
